# all files in these directories
presentations/
data/

R/design.R
R/prediction.R

# report files
report.*
biblio.bibtex

# usage
R/.Rhistory
README.html

# except for
!data/Info_BDApnea_QuironMalaga.xlsx
